.login-container {
  //z-index: 10000;
  background-color: #1e2126;
  height: 100vh;
}

.login-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.login-title {
  color: $color-hulu-green;
  font-weight: 700;
  font-size: 4.5rem;
  font-style: italic;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  & input {
    //border-radius: 25px;
    padding: 1rem 1rem;
    border-radius: 3rem;
    //height: 30px;
    font-family: "Inter", sans-serif;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
  }

  & input:first-of-type {
    margin-bottom: 20px;
  }

  & input:last-of-type {
    margin-bottom: 20px;
  }

  & label {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
  }
}

.hide {
  display: none;
}
