header {
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 65px;
  color: white;
  padding: 20px;
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  background: rgba(0, 0, 0, 0.8);
  background-color: #16181d;
}

.title-container {
  /*hooloo heading*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  color: $color-hulu-green;
  cursor: pointer;

  @media only screen and (max-width: 350px) {
    padding-left: 0;
  }
}

.title-container > a {
  text-decoration: none;
}

.title-container > a:visited {
  color: $color-hulu-green;
}

.title-container > a > h1 {
  font-weight: 700;
  font-size: 26px;
  font-style: italic;

  @media only screen and (max-width: 600px) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: 350px) {
    font-size: 3rem;
  }
}

.logo-img__container {
  width: 45px;
  height: 45px;
}

.logo-img {
  width: 100%;
  height: auto;
}

.link-container {
  /*home/featured/genres/starred*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

ul {
  list-style: none;
  font-weight: 600;
  //font-size: 20px;
  padding-left: 40px;

  @media only screen and (max-width: 750px) {
    display: none;
  }
}

ul > li {
  display: inline;
  margin-right: 40px;

  @media only screen and (max-width: 900px) {
    margin-right: 25px;
  }
}

li > a {
  -webkit-transition: border-bottom 100ms;
  -o-transition: border-bottom 100ms;
  transition: border-bottom 100ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  font-size: 2.2rem;
  white-space: nowrap;
  color: #fff;
}

li > a:hover {
  border-bottom: 3px solid $color-hulu-green;
  cursor: pointer;
}

li > a:active {
  color: #fff;
}

li > a:focus {
  color: #fff;
}

li > a:visited {
  color: #fff;
  text-decoration: none;
}

select {
  display: none;
  font-size: 2.2rem;
  background-color: #16181d;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  //border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media only screen and (max-width: 750px) {
    display: inline-block;
  }

  @media only screen and (max-width: 600px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media only screen and (max-width: 450px) {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5px;
  }

  @media only screen and (max-width: 300px) {
    margin-left: 15px;
  }
}

// When a nav link is clicked
.active {
  border-bottom: 3px solid $color-hulu-green;
}

.active-account {
  color: $color-hulu-green;
}

a.active-account:visited {
  color: $color-hulu-green;
}

.default-account {
  color: #fff;
}

.icon-container {
  /*search & account icons*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
}

ion-icon {
  font-size: 2.4rem;
  cursor: pointer;

  &:hover {
    color: $color-hulu-green;
  }

  &:active {
    color: $color-hulu-green;
  }

  &:focus {
    color: #fff;
  }

  &:visited {
    color: #fff;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 3rem;
  background: #1f2123;
}

.search input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  color: $color-hulu-green;
  background: #1f2123;
  font-family: "Inter", sans-serif;

  @media only screen and (max-width: 950px) {
    width: 18rem;
  }

  @media only screen and (max-width: 900px) {
    width: 15rem;
  }

  @media only screen and (max-width: 450px) {
    width: 10rem;
  }

  @media only screen and (max-width: 350px) {
    width: 8rem;
  }
}

.search ion-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;

  @media only screen and (max-width: 450px) {
    width: 18px;
    height: 18px;
  }

  @media only screen and (max-width: 300px) {
    width: 15px;
    height: 15px;
  }
}

a:visited {
  color: #fff;
}
