.results-section {
  background-color: #1e2126;
  height: 100%;
}

.empty {
  background-color: #1e2126;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 2rem;
  color: $color-hulu-green;
}
